.chat-container {
    background: fixed;
    background-image: url("wallpaper.jpg");
    height: 95%;
}

.chat-input {
    flex: 1;
    display: flex;
}

.chat-input input {
    align-items: center;
    height: 40px;
    width: 100%;
    padding-left: 15px;
    outline: none;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.emoji {
    width: 20px;
    height: 35px;

}

.message1 {
    justify-content: right;
    display: flex;
}

.message2 {
    justify-content: left;
    display: flex;
}

.m1 {
    width: 200px;
    background-color: rgba(130, 195, 73, 0.408);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.m2 {
    width: 200px;
    background-color: rgba(16, 104, 255, 0.38);
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
